html,
body {
  overflow: auto;
  margin: 0;
}

html {
  overflow-y: scroll;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
[class*=uk-icon-] {
  font-family: FontAwesome !important;
}
.toplinkzone {
  background-color: #374357;
  width: 100%;
  height: 28px;
  font-size: 13px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  visibility: visible;
  display: inline-block;
  margin: 0px;
}
main .breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 0rem!important;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
  background: none;
}
.breadcrumb a{
  color: #6968bc;
}
.school_list .breadcrumb{
  background: #fbfbfb!important;
}
.school-menu li a.active {
  color: #fff;
  background: #4eb9ab;
}
.school-menu ul{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}
.school-menu li{
  width: 25%;
}
.Btn_Button{
  position: relative;
  top: 2px;
}
.Btn_Button .fa-school{
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  bottom: 2px;
  position: relative;
}
.Btn_Button i{
  font-size: 1.45rem;
  letter-spacing: 0.3rem;
  bottom: 2px;
  position: relative;
}
.school-menu .pt-btn {
  padding: 0.4rem 0;
  font-size: 1.6rem;
  color: #848484;
  background: #fff;
  display: block;
  font-weight: bold;
  position: relative;
  border: 1px solid #cdcdcd;
  box-shadow: 4px 6px 0px #cdcdcd;
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  word-break: keep-all;
}
.school-menu .pt-btn:hover {
color: #fff;
background: #4eb9ab;
}
main .Hettx button {
  border: 0px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  margin: 2px 8px;
  padding: 0px;
}
.Sc-bottom ul {
  display: flex;
  justify-content: center;
  top: 7px;
  position: relative;
}
.school-menu li:nth-child(){
  margin-right: 0.5rem;
}
.MX-1 li {
  margin: 0 auto;
}
.MX-1 img {
  border-radius: 30rem;
  display: block;
  margin: 0 auto;
}
.P-ge {
  background: #fff;
  border: 1px solid #8de2d6;
  border-radius: 30px;
  margin: 14px 0px;
  box-shadow: 5px 5px 1px 0 #bdd8d6;
  width: 90%;
}
.P-ge h3 {
  letter-spacing: 1.5px;
  color: #54d3c2;
  font-size: 1.375rem;
  -webkit-transition: .15s;
  transition: .15s;
  word-break: keep-all;
  font-weight: normal;
  padding: 5px;
}
section .menu-blockt .nav-pills, section .menu-blockt .nav-link.active, section .menu-blockt .nav-pills .show > .nav-link {
  color: #094f4a;
  background: none;
  line-height: 1.2rem;
  text-shadow: none;
  font-size: 1.25rem;
}
.Hettx button:hover {
  background: #fffbdc;
  text-align: center;
  transition: 0.3s;
}
.menu-blockt .nav-pills .nav-link.active {
  background: #ec6d65;
  border: none;
  color: #fff;
}
.menu-blockt .nav-pills .nav-link:hover {
  background: #ec6d65;
  border: none;
  color: #fff;
}
.menu-blockt li a {
  color: #7f7f7f;
  font-size: 1.2rem;
  font-weight: bold;
  background: #e8e8e8;
  border-radius: 0.25rem;
  margin: 0.2rem 0em;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 1rem 0;
}
.school_list h1 {
  text-align: left;
  font-size: 1.4em;
  font-weight: 600;
  color: #3DA7AA;
  margin: 0em auto;
  padding: 0em;
}
article h2{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}
footer .footer_link a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
section .Content_info{
  border: 1px solid #e2e2e2;
  background: #fff;
  margin: 3% 0;
  box-shadow: 3px 3px 5px #d2d2d2;
}
.Content_info h2{
    color: #ec6d65;
    border: 1px solid #ec6d65;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8;
    display: block;
    border-radius: 2.25rem;
    padding: 3px 0px;
    width: 30%;
    margin: 0 auto;
}
.table thead th{
    vertical-align: bottom;
    border-bottom: 0px;
}
.Content_info .table th{
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #f1b9b6;
}
.Content_info .table td, .table th{
  padding: 0.75rem;
  vertical-align: top;
  border-bottom: 1px solid #dee2e6;
  word-break: break-word;
}
.Content_info .table thead tr:nth-of-type(1):hover{
  background:none;
}
.Content_info .table tr:hover{
  background: #f5f5f5;
  transition: .5s all;
}
.menu-blockt i{
  font-size: 1rem;
  position: relative;
  bottom: 1px;
}
/* 履歷健診 */
@charset "utf-8";
/* CSS Document */

.clearBtn{ display: none; }
/* Show it's not fixed to the top */

/*基礎及共用設定開始*/
*{margin:0;padding:0;}
*:before,*:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;}
a {
	text-decoration:none;
	transition:.5s all;

	}
a:hover{
	text-decoration:none;
	}
ul {
	margin:0px;
	padding:0px;
	list-style:none;
	}
ul li {
	margin:0px;
	padding:0px;
	list-style:none;
	}
body {
    position: relative;
    font-family: "Noto Sans TC", "微軟正黑體", verdanaTimes, "arial";
    font-weight: 300;
    color: #222;
    font-size: 16px;
}
.container {
    max-width: 1170px;
}
.form-control:focus,.btn.focus, .btn:focus{
	box-shadow: none;
}
 /*lightbox 跑版修正*/
.ligthBoxFullBg {
    position: fixed !important;
    top: 0 !important;
}
/*chrome and safari hack*/
 @media screen and (-webkit-min-device-pixel-ratio:0){ 
    .myligthBox.noBg{
        display: block !important;
    }
 }  
 /*firefox hack*/
 @-moz-document url-prefix(){
    .myligthBox.noBg{
        display: table-cell !important;
    }
}


/*表頭*/
/*.navbar{
	background:#ffffff;
	color:#282828;
	padding:0;
}
.navbar a{
	color:#000;
	font-weight:400;
}
.navbar a:hover{
	color:#fff;
	font-weight:500;
	background: #ec6d65;
}
.navbar a .nav-item{
	color:#000;
	font-weight:400;
}
a.nav-link{
	color:#000;
	font-weight:700;
	padding:23px 0;
}
.navbar a.navbar-brand{
	padding: 0;
}
.navbar a:hover.navbar-brand{
   background: transparent;
}
.navbar-expand-md .navbar-collapse{
  flex-grow: inherit;
}
.navbar-dark .navbar-toggler{
	color:#fff;
	border-color: rgba(255,255,255,1);
}*/

/*.share{
	position: fixed;
	right:20px;
	bottom:20%;
}
.share .share_fb{
	background: #3a559f;
	width:50px;
	height: 50px;
	text-align: center;
	margin-bottom:10px;
	border-radius: 50%;
	padding-top: 10px;
}
.share .share_line{
	background: #00c200;
	width:50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	padding-top: 10px;
}
.share .bottom_link{
	display: none;
}*/
/*BANNER*/
.top_bn {
	background:#f5a39f;
	position:relative;
	overflow:hidden;
	width: 100%;
	text-align: center;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.top_bn #main {
	height: 100%;
} 
.top_bn .search_home{
	position:absolute;
	width:100%;
	max-width: 400px;
	top:0px;
	bottom:0px;
	background: rgba(255,255,255,0.8);
	z-index: 9;
}
.top_bn .session_home{
	max-width: 400px;
	text-align: left;
	padding-top:6em;
}

.list_bn {
    background: #f5a39f;
    text-align: center;
    padding-top: 10px;
}
/* 免費履歷健診 */
.Free-check .G-1 img{
    display: block;
    border-radius: 0.25rem;
    border: 8px solid #c9d8ee;
    margin: 15px;
}

.content_ct01{
    margin: 0 auto;
    text-align: center;
}
.breadcrumb {
    padding: 1em 0px;
    margin: 0em;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
    font-size: 1em;
}
.textstyle_reduction ol.breadcrumb li {
    padding: 0 0px;
}
.breadcrumb > li {
    display: inline-block;
    color: #999;
}
.breadcrumb > li a {
    color: #999;
}
.breadcrumb > li.active a {
    color: #2C9495;
}
.free-check{
    margin: 0 auto;
    line-height: 1.85rem;
}
.Free-check h3{
    color: #2d9496;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}
.Content-Box{
    line-height: 2.2rem;
}
.Free-check .N-titleV{
    font-weight: 450;
    font-size: 1.5rem;
} 
.Free-check .Sub-check{
    font-size: 1.25rem;
    font-weight: 400;
    color: #454545;
}
.Free-check .U-Sub-check{
    background: #f4f4f4;
    border-radius: 5px;
    font-size: 1.125rem;
}
.Terra-Cotta{color: #ed7062; font-weight: 500;}
.Grayscale{color: #222; font-weight: 500;}
.Terra-Cotta a{color: #ed7062; text-decoration: underline;}
.MG-1{background-color: rgb(252, 242, 241); width: 100%; border-radius: 0.25rem;}
.Active-info h3{
    color: #ed7062;
    font-weight: 450;
    font-size: 1.4em;
    text-align: center;
    margin: 0 auto;
}
.M_InterBtn{
  display: block;
  background: #ec6d65;
  border-radius: 0.25rem;
  color: #fff;
  text-align: center;
  font-size: 1.1em;
}
.Btn_text{
  display: inline-block;
  text-align: right;
  position: relative;
  top: 13px;
}
.M_InterBtn a{
  display:block;
  color: #fff;
  cursor: pointer;
}
.Free-Mg {background: #e0f4fc; border-radius: 0.25rem;}
.Free-Mg .G-1 img{display:block; width:100%;}
/* .U-Sub-check{background: #c5eaef;} */
.Active-Free h3{
    color: #3DA7AA;
    font-weight: 450;
    font-size: 1.4em;
    text-align: center;
    margin: 0 auto;
}
.Active-sumit h3{
    color: #ed7062;
    font-weight: 450;
    font-size: 1.4em;
    text-align: center;
    margin: 0 auto;
}
.free-check-text{
    font-size: 1.1rem;
    color: #565656;
    font-weight: 400;
    line-height: 1.85rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
}

.Active-info h4 {
    color: #6d6d6d;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}
.Active-info  .Usub-title{
    font-size: 1.25rem;
    font-weight: 500;
    color: #454545;
}
.Active-info .Usub-titleN{
    border-radius: 5px;
    font-size: 1.125rem;
}
.Usub-titleN .free-check a{
    color: #ed7062;
    font-weight: 500;
    text-decoration-line: underline;
}
.Sumit_box .Sumit_btn:hover{
    background: #6ec6d1;
    transition: 1s all;
    color: #fff;
}
.Sumit_box .Sumit_btn{
    background: #51b3c0;
    border-radius: 30px;
    padding: 14px 0px;
    color: #fff;
    font-size: 1.35rem;
    width: 50%;
    font-weight: 550;
    margin: 0 auto;
}

.Sumit_box a{
    text-decoration: none;
}
.Sumit_box a:hover{
    text-decoration: none;
}
.content_bg5 {
    margin: 0 auto;
}
.content_sumit4{
    padding: 40px 10px;
}
.content_sumit5{
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
}
/* 按鈕 */
.content_bg5{
	padding:50px 0;
	text-align: center;
}
.content_bg5 .container{
	width:100%;
	max-width:780px;
}
.toolbox .btn {
    background: #e55047;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    height: 60px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 46px;
    margin: 35px 0;
    font-weight: 550;
}
.toolbox .btn:hover{
	background:#ec6d65;
	transition: 1s all;
	color:#fff;
}
.toolbox .btn i{
	padding-left: 5px;
}
.post-t {
    position: relative;
    bottom: 5px;
}
/* 活動須知 */
.Step_N img{
    border-radius: 30rem;
    width: 84%;
}
.Step_N a{
    color: #2d9496;
}
.Step_N i{
    bottom: -27px;
    left: 130px;
    font-size: 2rem;
    position: absolute;
}

@media (max-width: 767px){
.M_InterBtn{
  margin: 0 auto;
}
button.navbar-toggler {
    color: #ec6d65;
}
.Sumit_box .Sumit_btn{
    background: #51b3c0;
    border-radius: 30px;
    padding: 14px 0px;
    color: #fff;
    font-size: 1.35rem;
    width: 80%;
    font-weight: 550;
    margin: 0 auto;
}
.toolbox .btn {
    background: #e55047;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 42px;
    margin: 26px 0px 0px;
    font-weight: 550;
}
}
/*  */

@media (max-width: 539px){
  .Hettx .pb-box img {
      padding-left: 0px!important;
      padding-right: 0px!important;
      display: block;
      margin: 0 auto;
      top: 3px;
      position: relative;
  }
  .Content_info h2{
    width: 80%;
    margin: 0 auto;
}
.M_InterBtn {
  width: 60%!important;
}
}
@media screen and (max-width: 767px) {
  .school-menu ul {
    display: flex;
    flex-direction: column;
}
  .school-menu li{
    width: 100%;
}
}
@media (max-width: 991px){
  .Sc-bottom {
    width: 100%;
    margin-top: 15px;
    background: #ffffff;
    flex-direction: column;
  }
  .Btn_text{
    display: inline-block;
    text-align: center;
    position: relative;
    top: 13px;
  }
  .Mx_5{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .M_InterBtn {
    display: block;
    background: #ec6d65;
    border-radius: 0.25rem;
    color: #fff;
    text-align: center;
    font-size: 1.1em;
    width: 40%;
    margin-top: 14px;
}
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .school-menu ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
  .school-menu li {
    width: 46%;
    margin: 0 auto;
}
}