/** Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansTC-Light.woff2) format('woff2'),
       url(../fonts/NotoSansTC-Light.woff) format('woff'),
       url(../fonts/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/NotoSansTC-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansTC-Regular.woff) format('woff'),
        url(../fonts/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/NotoSansTC-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansTC-Medium.woff) format('woff'),
        url(../fonts/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/NotoSansTC-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansTC-Bold.woff) format('woff'),
        url(../fonts/NotoSansTC-Bold.otf) format('opentype');
 }
body {
  position: relative;
  font-family: "Noto Sans TC", "微軟正黑體", verdanaTimes, "arial";
  font-weight:300;
  color:#222;
}