@charset "UTF-8";

.cyan-block {
    border: 1px solid #24a6ac;
}

    .cyan-block:not(:first-child) {
        margin-top: 2rem;
    }

    .cyan-block h3 {
        background: #24a6ac;
        color: #FFF;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: .1rem;
        padding: .5rem;
        text-align: center;
    }

    .cyan-block .content-block ol {
        counter-reset: li;
    }

.group-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .group-content li {
        width: calc(100%/4 - .8rem);
        background: #f7f7f7;
        margin: 0 .4rem .8rem .4rem;
        padding: .6rem .4rem;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .group-content .group-block {
        display: block;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
    }

        .group-content .group-block i {
            font-size: 1.6rem;
        }
        .group-content .group-block .dep-name {
            font-size: 1.2rem;
        }

.dep-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .dep-content li {
        width: 49%;
        margin-bottom: .8rem;
    }

.dep-block {
    background: #f7f7f7;
    color: #555;
    -webkit-transition: .3s;
    transition: .3s;
}

    .dep-block .dep-name {
        color: #555;
        font-weight: bold;
    }

        .dep-block .dep-name i {
            padding-right: 5px;
        }

    .dep-block .dep-num {
        color: #555;
        font-size: .9rem;
    }

    .dep-block .dep-link span {
        color: #555;
        line-height: 1.8rem;
    }

        .dep-block .dep-link span:not(:last-child)::after {
            content: '；';
        }

    .dep-block .dep-link a {
        color: #3C94EC;
        -webkit-transition: .3s;
        transition: .3s;
    }

.tab-map {
    width: 100%;
    color: #555;
    display: flex;
    border-bottom: 3px solid #ec6d65
}
.tab-map .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #000;
    text-align: center;
    font-size: 1.2em;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 14px 0;
    margin-bottom: -3px;
    font-weight: 400;
}
@media (max-width: 920px) {
    .tab-map .nav-link span {
        display: block;
    }
}
@media (max-width: 576px) {
    .tab-map {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.tab-map li {
    background: transparent;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    flex: 0 0 20%;
    border: 1px solid transparent;
}

@media (max-width: 576px) {
    .tab-map li {
        width: 31.25%;
        margin-bottom: .8rem;
    }
}

@media (max-width: 320px) {
    .tab-map li {
        margin-bottom: .5rem;
    }
}

.tab-map li.active {
    color: #ffffff;
    background-color: #ec6d65;
    /* border-color: #dee2e6 #dee2e6 #fff; */
}

.tab-map li:hover {
    background: #ec6d65;
    cursor: pointer;
    color: #ffffff;
}

.mapBIG-content .svg-container:not(.active) {
    display: none;
}