@model IEnumerable<CampusR.Models.ViewModels.MenuFooterViewModel>

<ul class="navbar-nav mr-auto justify-content-center">
    @foreach (var item in Model)
    {
    <li class="nav-item">
        @{
            string firstChar = item.Name.Substring(0, 1);
            if (firstChar == "履" || firstChar == "企")
            {
                <a class="nav-link" href="@item.Url" target="_blank" rel="noreferrer noopener">
                    @item.Name
                </a>
            }
            else if (item.Name == "現場履歷健診")
            {
                //20221107-暫先不上正式機 controller/careerinterview 先導頁至首頁
            }
            else
            {
                <a class="nav-link" href="@item.Url" target="_self" rel="noreferrer noopener">
                    @item.Name
                </a>
            }
        }

    </li>
    }
</ul>
